# ============================================================
# n8n
# ============================================================

N8N_VERSION=2.37.10

N8N_HOST=n8n.slasdevelopments.com

N8N_EDITOR_BASE_URL=https://n8n.slasdevelopments.com/
N8N_WEBHOOK_URL=https://n8n.slasdevelopments.com/

N8N_ENCRYPTION_KEY=change-me


# ============================================================
# PostgreSQL
# ============================================================

POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=change-me


# ============================================================
# Cloudflare Tunnel
# ============================================================

CLOUDFLARE_TUNNEL_TOKEN=change-me


# ============================================================
# Timezone
# ============================================================

GENERIC_TIMEZONE=America/Caracas
TZ=America/Caracas