# ------------------------------------------------
# Database
# ------------------------------------------------

DB_TYPE=postgresdb

DB_POSTGRESDB_HOST=host.docker.internal
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=n8n
DB_POSTGRESDB_USER=n8n
DB_POSTGRESDB_PASSWORD=n8n_local_password
DB_POSTGRESDB_SCHEMA=public

# Usuario administrador del PostgreSQL local.
# Debe coincidir con local-infra-dev/.env
DB_ADMIN_DATABASE=postgres
DB_ADMIN_USER=tu_usuario
DB_ADMIN_PASSWORD=tu_password


# ------------------------------------------------
# n8n
# ------------------------------------------------

N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http

N8N_ENCRYPTION_KEY=cambia-esta-clave-por-una-larga

GENERIC_TIMEZONE=America/Caracas
TZ=America/Caracas

N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true